.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.father {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.circle {
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 15px;
}

.circle + .circle {
    margin-left: 48px;
}

.circle::after {
    content: '';
    border-left: 1px solid #060205;
    left: -8px;
    top: 29px;
    display: block;
    position: absolute;
    height: 40px;
    transform: rotate(45deg);
}

.circle::before {
    content: '';
    border-left: 1px solid #060205;
    left: 38px;
    top: 29px;
    display: block;
    position: absolute;
    height: 40px;
    transform: rotate(-45deg);
}

.circle.without-line::after {
    display: none;
}

.circle.without-line::before {
    display: none;
}

.middle-position {
    margin-top: 20px;
}

.middle-position + .middle-position {
    margin-left: 120px;
}