* {
    margin: 0;
    padding: 0;
}
body {
    padding-top: 50px;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    width: 1160px;
    margin: 0 auto;
}

.flex-container + .flex-container {
    margin-top: 50px;
}
#row3 {
    overflow: hidden;
}
.circle {
    border-radius: 50%;
    border: 1px solid #333;
    height: 60px;
    width: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle::before, .circle::after{
    content: '';
    position: absolute;
    top: 60px;
    width: 1px;
    left: 4px;
    height: 20px;
    background-color: #333;
    transform: translateX(8px);
}
.circle::after{
    left: 0;
    transform: rotate(45deg);
}
.circle::before{
    left: 100%;
    transform: rotate(-45deg);
}